@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&family=Space+Grotesk:wght@300..700&display=swap');

/* CSS style reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Slutt av CSS style reset */

body {
    font-family: 'Roboto';
    font-weight: 100;
    background-color: rgb(241 240 236);
}

footer {
    height: 150px;
    margin-top: 30px;
    background-color: rgb(38, 37, 33);
    color: rgb(241 240 236);
}

/*HEADER*/

/* NAV */

header {
    margin-bottom: 50px;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(241 240 236);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1000;
    border-bottom: 1px solid rgb(38, 37, 33);
}

.internett nav {}

.navknapp {
    color: rgb(38, 37, 33);
    background-color: rgb(241 240 236);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    padding-inline: 20px;
    border-bottom: 0.5px solid rgb(38, 37, 33);

}

.navknapp:hover {
    background-color: rgb(88, 87, 85) !important;
    color: rgb(241 240 236);
    height: 80%;
    border-radius: 10%;
    animation: shaking 0.2s;
}

.fa-home {
    font-size: 44px !important;

}



#mellomrom {
    height: 70px;
    width: 100%;
}

/*nav a#active {
    background-color: rgb(38, 37, 33);
    color: rgb(66, 64, 55);
}*/



nav::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: rgb(38, 37, 33);
    bottom: 0;
    left: 0;
    margin: auto;
    height: 80%;
    border-radius: 10%;
    z-index: 9999;
}

@keyframes shaking {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(3deg);
    }

    70% {
        transform: rotate(-3deg);
    }


}

/*NAV*/


.overskrift {
    display: flex;
    position: relative;
    color: rgb(38, 37, 33);
    font-size: 120px;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 40px;
}

.overskrift h1 {
    font-family: "Bowlby One", sans-serif;
    font-weight: 900;
    font-size: 113px;
}

.index .overskrift {
    display: flex;
    position: relative;
    color: rgb(241 240 236);
    font-size: 120px;
    justify-content: center;
    margin-bottom: 0;
    margin-top: -7px;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-weight: 900;
    font-size: 50px;
}

header {
    margin-bottom: 50px;
}

#mellomrom {
    height: 105px;
    width: 100%;
}


/* HERO IMAGE*/



.index .hero-image {
    background-image: url(bilder/index/hero_image_index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.index .hero-image {
    height: 80vh;
    width: 100%;
}

.internett .hero-image {
    background-image: url(bilder/internett/internett_hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.internett .hero-image {
    height: 71vh;
}

.datamaskin .hero-image {
    background-image: url(bilder/datamaskin/hero_image_datamaskin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.nettverk .hero-image {
    background-image: url(https://smartinnovationnorway.com/wp-content/uploads/2023/12/Digitalt-nettverksmote.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* BODY*/

/* GRID CONTAINER*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.index .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.internett .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.datamaskin .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;

}

.nettverk .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 450px;
    align-items: center;
    row-gap: 100px;

}

/* INDEX INNHOLD*/

.index article {
    grid-column: 1/5;
    grid-row: 1/3;
    padding: 20px;
    background-color: rgb(241 240 236);
    color: rgb(38, 37, 33);
    display: flex;
    align-items: center;
    justify-content: center;
}

.index article p {
    font-size: 23px;
}


.index .bilder {
    grid-column: 1/5;
    grid-row: 3/5;
    background-color: rgb(241 240 236);
    color: rgb(38, 37, 33);
    display: flex;
    justify-content: space-evenly;
}


.index .fa-home {
    font-size: 40px;
}

.index .bilder .bilde:hover .tekst {
    opacity: 1;
    color: black;
    font-weight: 300;
}

.index .bilder .bilde {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index .tekst {
    width: 200px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    display: flex;
    text-align: center;
    transition: 1.3s;
    font-weight: 300;
}

.index .bilder .bilde img {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
}

.index .bilder .bilde:hover img {
    opacity: 0.1;
}

.index .hovedtekst {
    width: 50%;
}

/*INTERNETT INNHOLD*/

.internett aside {
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: rgb(241 240 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.internett article {
    grid-column: 2/4;
    grid-row: 1/5;
    padding: 20px;
    background-color: rgb(241 240 236);
    display: flex;
    justify-content: center;

}

.internett .bilder {
    grid-column: 4/5;
    grid-row: 1/5;
    padding: 20px;
    background-color: rgb(241 240 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.internett aside .bilde {
    width: 100%;
    padding: 20px;
}

#bilde_lang {
    height: 400px;
    padding: 20px;
    object-fit: cover;
}

.internett .tekst {
    width: 200px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    transition: 1.3s;
    font-weight: 300;
}

.internett .hovedtekst {
    width: 50%;
}

.internett .under_tekst {
    position: relative;
    font-size: 12px;
    width: 80%;
    padding: 20px;
}

.internett .bilder img {
    width: 250px;
}

.internett .bilder .sticker img {
    width: 70px;
    transform: translate(100%, 50%);
    position: absolute;
    z-index: 999;
}

.internett .bilder .bilde:hover img {
    opacity: 0.1;
}

.internett .bilder .bilde:hover .sticker img {
    opacity: 1;
}

.internett .bilder .bilde:hover .sticker {
    animation: shaking 0.3s;
}

.internett .bilder .bilde:hover .tekst {
    opacity: 1;
    color: black;
    font-weight: 300;
}



.internett .bilde .sticker {
    position: absolute;
    transform: translate(100%, 50%);
    z-index: 999;
}

.internett .bilde {
    display: flex;
    align-items: center;
    justify-content: center;
}

.internett .fa-home {
    font-size: 40px;
}

/* DATAMASKIN INNHOLD*/

.datamaskin aside {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(38, 37, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.datamaskin article {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: rgb(38, 37, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.datamaskin .bilder {
    grid-column: 1/5;
    grid-row: 2/4;
    padding: 20px;
    background-color: rgb(241 240 236);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.datamaskin .bilder img {
    width: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.datamaskin aside .bilde {
    width: 600px;
    padding: 20px;
    border-radius: 50%;
    height: 600px;
    object-fit: cover;
}

.datamaskin .tekst {
    width: 200px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-weight: 300;
    transition: 1.3s;
}

.datamaskin .hovedtekst {
    width: 70%;
    color: rgb(241 240 236);
    font-size: 20px;
    font-weight: 300;
}

.datamaskin .bilder img {
    width: 250px;
}

.datamaskin .bilder .bilde:hover img {
    opacity: 0.1;
}

.datamaskin .bilder .bilde:hover .sticker img {
    opacity: 1;
}

.datamaskin .bilder .bilde:hover .tekst {
    opacity: 1;
    color: black;
    font-weight: 300;
}



.datamaskin .bilder .bilde {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datamaskin .mellomrom {
    width: 100%;
    height: 70px;
}

/*NETTVERK INNHOLD*/
.nettverk .bilder {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 20px;
    background-color: rgb(241 240 236);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.nettverk #aside1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(241 240 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nettverk #aside2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(241 240 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nettverk #article1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(241 240 236);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nettverk #article2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(241 240 236);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nettverk img {
    width: 80%;
}

.nettverk .bilder .bilde:hover img {
    opacity: 0.1;
}

.nettverk .bilder .bilde:hover .sticker img {
    opacity: 1;
}

.nettverk .bilder .bilde:hover .tekst {
    opacity: 1;
    color: black;
    font-weight: 300;
}

.nettverk .bilder .bilde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.nettverk .bilder .bilde img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.nettverk .tekst {
    width: 200px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    transition: 1.3s;
    font-weight: 300;
}

.nettverk .under_tekst {
    display: flex;
    width: 60%;
    padding: 20px;
}

.nettverk .fa-home {
    font-size: 40px;
}

/*FOOTER*/

footer {
    height: 150px;
    margin-top: 30px;
    background-color: rgb(38, 37, 33);
    color: rgb(241 240 236);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERIES*/

@media (width < 844px) {
    body {
        background-color: aqua;
    }

    .overskrift h1 {
        font-size: 84px;
    }

    .index .bilder .bilde img {
        width: 145px;
        height: 145px;
    }

    .datamaskin article p {
        font-size: 16px;
    }

    .datamaskin .bilder img {
        width: 194px;
    }

    .datamaskin aside .bilde {
        width: 400px;
        padding: 20px;
        border-radius: 50%;
        height: 400px;
        object-fit: cover;
    }

}

@media (width< 640px) {
    body {
        background-color: blueviolet;
    }

    .overskrift h1 {
        font-size: 53px;
    }

    .index .bilder {
        flex-direction: column;
        align-items: center;
    }

    .index .bilder .bilde img {
        width: 250px;
        height: 250px;
    }

    .datamaskin .bilder {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .datamaskin .bilder img {
        width: 90%;
        padding: 20px;


    }

    .datamaskin article p {
        font-size: 10px;
    }


    .datamaskin aside .bilde {
        width: 300px;
        padding: 20px;
        border-radius: 50%;
        height: 300px;
        object-fit: cover;
    }

    .nettverk .bilder {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .nettverk .bilder img {
        width: 90%;
        padding: 20px;
    }
}

@media (width < 431px) {
    body {
        background-color: yellow;
    }

}